html {
    min-width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#index {
    article {
        p {
            margin-top: 20px;
        }
    }
}

nav {
    background-color: $primary-color;
    padding: 7px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    font-family: 'Junge', cursive;

    ul {
        li {
            a.nav-link {
                color: $secondary-color;

                &:hover {
                    color: $text-color;
                }
            }
        }
    }

    a {
        color: $secondary-color;
        text-decoration: none;
    }
}

#logo {
    a {
        margin-left: 0;
        display: flex;
        align-items: center;
        font-family: 'Junge', cursive;
        color: $secondary-color;
        text-decoration: none;

        img {
            margin-right: 10px;
        }
    }
}

header {
    h1 {
        font-family: 'Kaisei Decol', serif;
        font-size: map-get($sizes, large);
        font-weight: 400;
        padding: 25px;
    }
}

ul {
    li {
        font-family: "Kaisei Decol", serif;
    }
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h4 {
    font-family: 'Kaisei Decol';
    font-size: map-get($sizes, small);
    font-weight: bold;
}

footer {
    width: 100%;
    background-color: $primary-color;
    height: 50px;
    color: $secondary-color;
    font-size: map-get($sizes, medium);
    font-family: 'Inter';
    margin-top: auto;
    @include flex-center;

    p {
        margin: auto;
    }
}

section {
    width: 100%;

    article:first-of-type {
        margin-top: 30px;
    }
}

article {
    margin-bottom: 70px;

    p {
        font-family: 'Junge', cursive;
        font-size: map-get($sizes, small);
        font-weight: 400;
    }

    span {
        font-family: 'Inter';
        font-size: map-get($sizes, small);
        font-weight: 400;
    }
}

.imagen-proyecto {
    width: 100%;
    max-height: 300px;
}

#index h2 {
    font-family: 'Kaisei Decol', serif;
    font-weight: bolder;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: none;
}

.tablet-only {
    display: none;
}