.contactos {
    display: flex;
    margin-bottom: 70px;
}

.box-contacto {
    width: 100%;
    max-width: 628px;
    height: auto;
    text-align: center;
    margin: auto;
}

.button {
    width: 45%;
}

.pl-0 {
    padding-left: 0 !important;
}

#redes {
    img {
        width: 100%;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.logo-whatsapp {
    padding: 6px;
}

.logo-behance {
    transform: scale(1.05);
}

#hamburger {
    background-image: url('../assets/hamburger-svgrepo-com\ \(1\).svg');
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $text-color;
    border-color: $text-color;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
        background-color: #4d2f64;
        border-color: $primary-color;
    }

    &:focus {
        background-color: $text-color;
        border-color: $text-color;
    }
}

textarea.form-control:focus,
textarea.form-control:active,
input.form-control:focus,
input.form-control:active {
    border-color: $text-color;
    box-shadow: none;
}

.btn-secondary {
    background-color: $secondary-color;
    color: $primary-color;
}

.btn-secondary:hover {
    background-color: rgb(206, 201, 201);
}