@import "colores";
$sizes: (
    xs: 12px,
    small: 16px,
    medium: 24px,
    large: 32px
);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    min-width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#index {
    article {
        p {
            margin-top: 20px;
        }
    }
}

nav {
    background-color: $primary-color;
    padding: 7px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    font-family: 'Junge', cursive;

    ul {
        li {
            a.nav-link {
                color: $secondary-color;

                &:hover {
                    color: $text-color;
                }
            }
        }
    }

    a {
        color: $secondary-color;
        text-decoration: none;
    }
}

#logo {
    a {
        margin-left: 0;
        display: flex;
        align-items: center;
        font-family: 'Junge', cursive;
        color: $secondary-color;
        text-decoration: none;

        img {
            margin-right: 10px;
        }
    }
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h4 {
    font-family: 'Kaisei Decol';
    font-size: map-get($sizes, small);
    font-weight: bold;
}

footer {
    width: 100%;
    background-color: $primary-color;
    height: 50px;
    color: $secondary-color;
    font-size: map-get($sizes, medium);
    font-family: 'Inter';
    margin-top: auto;
    @include flex-center;

    p {
        margin: auto;
    }
}

section {
    width: 100%;

    h1 {
        font-family: 'Kaisei Decol', serif;
        font-size: map-get($sizes, large);
        font-weight: 400;
    }

    article:first-of-type {
        margin-top: 30px;
    }
}

article {
    margin-bottom: 70px;

    p {
        font-family: 'Junge', cursive;
        font-size: map-get($sizes, small);
        font-weight: 400;
    }

    span {
        font-family: 'Inter';
        font-size: map-get($sizes, small);
        font-weight: 400;
    }
}

.imagen-proyecto {
    width: 100%;
    max-height: 300px;
}

#index h2 {
    font-family: 'Kaisei Decol', serif;
    font-weight: bolder;
}

/* INDEX */
#presentacion {
    background-image: url('../assets/fondo1.svg');
    padding: 64px;
    color: $secondary-color;
    width: 100%;
    background-size: cover;

    h1 {
        font-family: 'Junge', cursive;
        font-weight: bolder;
    }

    h2 {
        font-family: 'Kaisei Decol', serif;
        font-size: map-get($sizes, medium);
        font-weight: 400;
    }

    h3 {
        font-family: 'Junge', cursive;
        font-size: map-get($sizes, small);
        font-weight: 400;
        max-width: 554px;
    }
}

#principios {
    display: inline-block;
    font-family: 'Kaisei Decol', serif;
    font-weight: bolder;

    .col-2 {
        text-align: center;
    }
}

#index main section {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/* TRABAJOS */
#trabajos article {
    width: 100%;
}

/* SOBRE MI */
#about {
    article {
        p {
            text-align: justify;
        }

        h2 {
            font-family: "Kaisei Decol", serif;
            margin-bottom: 10px;
        }

        label {
            margin-bottom: 0;
            font-weight: bold;
            margin-top: 10px;
            font-family: "Junge", cursive;
        }
    }
}

.mt-70 {
    margin-top: 70px;
}

article {
    margin-bottom: 70px;
}

.flex-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about article h2.mobile-only {
    font-size: map-get($sizes, medium);
}

.alopecio-container {
    @extend .flex-space-between;
    text-align: right;
}

.gordelia-container {
    @extend .flex-space-between;
    text-align: left;
}

section:first-of-type {
    margin-top: 50px;
}

/* EXPERIENCIA */
.cuadrado {
    height: 200px;
    text-align: center;
    line-height: 200px;
    background-color: #D9D9D9;
    border: 1px solid black;
    @include flex-center;
}

.box {
    width: 130px;
    height: 100px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #D9D9D9;
}

.cursos-container {
    display: flex;
    flex-direction: column;
}

.box-container {
    display: flex;
    flex-direction: row;
}

/* CONTACTO */
.contactos {
    display: flex;
    margin-bottom: 70px;
}

.box-contacto {
    width: 100%;
    max-width: 628px;
    height: auto;
    text-align: center;
    margin: auto;
}

.button {
    width: 45%;
}

.pl-0 {
    padding-left: 0 !important;
}

#redes img {
    width: 100%;
}

.logo-whatsapp {
    padding: 6px;
}

.logo-behance {
    transform: scale(1.05);
}

#hamburger {
    background-image: url('../assets/hamburger-svgrepo-com\ \(1\).svg');
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active{
    background-color: $text-color;
    border-color: $text-color;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
        background-color: #4d2f64;
        border-color: $primary-color;
    }

    &:focus {
        background-color: $text-color;
        border-color: $text-color;
    }
}

textarea.form-control:focus,
textarea.form-control:active,
input.form-control:focus,
input.form-control:active{
    border-color: $text-color;
    box-shadow: none;
}

.btn-secondary {
    background-color: $secondary-color;
    color: $primary-color;
}

.btn-secondary:hover {
    background-color: rgb(206, 201, 201);
}

.shadow {
    box-shadow: 10px 10px 12px -4px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 10px 10px 12px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 10px 12px -4px rgba(0, 0, 0, 0.43);
}

.contenedor {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Columna automática para la imagen, el resto para el texto */
    gap: 20px;
    /* Espacio entre la imagen y el texto */
}

.imagen {
    max-height: 100%;
    /* La imagen no superará la altura del contenedor */
    width: auto;
    /* La imagen se escala proporcionalmente */
}

.texto {
    overflow: hidden;
    /* Evitar que el texto se desborde del contenedor */
}

.carousel-caption {
    background-color: $primary-color;
    opacity: 0.7;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;

    > li {
        width: 100px;
    }

    li img {
        display: block;
        opacity: 0.5;
    }

    li.active img {
        opacity: 1;
    }

    li:hover img {
        opacity: 0.75;
    }
}

.carousel-item img {
    width: 80%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(1);
}

.cursos {
    margin-top: 50px;
    margin-left: 55px;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: none;
}

.tablet-only {
    display: none;
}

#custCarousel .carousel-indicators {
    display: flex;
    max-width: 500px;
}

// DESKTOP
@media screen and (min-width: 992px) {
    .desktop-only {
        display: block;
    }

    #navbarNav {
        justify-content: end;
        margin-right: 30px;
    }

    nav a {
        margin-left: 110px;
    }

    #logo {
        height: auto;
        margin-left: 30px;
    }

    #principios {
        article {
            justify-content: center;
            gap: 47px;

            p {
                margin-top: 20px;
            }
        }
    }

    #index section {
        margin-bottom: 50px;
    }
}

// TABLET
@media screen and (min-width: 577px) and (max-width: 991px) {
    .tablet-only {
        display: block;
    }
}

// MOBILE
@media screen and (max-width: 576px) {
    .mobile-only {
        display: block;
    }

    .cursos {
        margin-left: 0;
    }

    .m-mx-0 {
        margin-left: 0;
        margin-right: 0;
    }

    #logo {
        margin-left: 15px;
    }

    #trabajos {
        section:first-of-type {
            padding-top: 40px;
        }

        article {
            margin: auto;
        }

        h1 {
            text-align: center;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
        
    footer p {
        font-size: map-get($sizes, xs);
    }

    .box-container div {
        margin-bottom: 30px;
    }

    #principios article:first-of-type {
        justify-content: center;
    }

    #index section h2 {
        font-size: 22px;
        margin-top: 10px;
    }

    #purrfect {
        flex-direction: column-reverse;
    }

    .m-mt-70 {
        margin-top: 70px;
    }

    .m-mt-20 {
        margin-top: 20px;
    }

    .m-p-20 {
        padding: 20px;
    }
}